<div class="container">
  <div [hidden]="submitted">
    <h1>Invoice Form for Translation</h1>
    <form  #tiForm="ngForm">
      <div class="form-group">
        <label for="pricePerWord">Price Per Word</label>
        <input type="text" class="form-control" id="pricePerWord"
               required
               [(ngModel)]="model.pricePerWord" name="pricePerWord"
	       #name="ngModel"					
               >
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          price per word is required
        </div>
      </div>

      <div class="form-group">
        <label for="source">Source</label>
        <textarea class="form-control" id="source" [(ngModel)]="model.source" name="source" #name='ngModel' rows="4"></textarea>
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          source is required
        </div>
      </div>
      
      <button type="button"  class="btn btn-success" (click)="createInvoice(tiForm.value)" [disabled]="!tiForm.form.valid">submit</button>
      <button type="button" class="btn btn-default" (click)="newInvoice(); tiForm.reset()">reset</button>
    </form>
  </div>
</div>
<div [hidden]="!submitted">
  <div *ngIf="result">
    price: {{result.totalPrice}}
    <table>
      <tr>
        <th>word</th>
        <th>count</th>
      </tr>
      <tr *ngFor="let word of result.words">
        <td>{{ word.word }}</td>
        <td>{{ word.count }}</td>
      </tr>
    </table>
  </div>
</div>
